* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul li {
  list-style: none;
}

body {
  max-width: 1200px;
  margin: 0 auto;
  font-family: sans-serif;
}

.navbar {
  background: #313131;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 10px;
}

.menu ul {
  display: flex;
  gap: 10px;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.tabs ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  gap: 10px;
}
