:root {
  --silver: #f4f4f4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul li {
  list-style: none;
}

.bg-silver {
  background-color: #f4f4f4;
}

body {
  font-family: sans-serif;
}

nav {
  background: #333;
  color: #fff;
}

.container {
  max-width: 1330px;
  margin: 0 auto;
}

.logo p {
  font-weight: bold;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 10px;
}

.menu ul {
  display: flex;
  gap: 20px;
  font-size: 18px;
}

.menu ul li a {
  padding: 10px;
}

.menu ul li a:hover {
  background-color: #fff;
  color: #000;
  cursor: pointer;
}

.menu ul input {
  background-color: #333;
  font-size: 20px;
  width: 170px;
  border: none;
  border-bottom: 1px solid #8a8a8a;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.tabs ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  gap: 10px;
}

.tabs ul li a {
  padding: 10px;
}

.tabs ul li a:hover {
  background-color: #dadada;
}

/* ======== Main ========= */
main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 5px;
}
.section-one {
  padding: 10px;
}

.section-two {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidebar {
  border: 2px solid #e7e7e7;
  padding: 10px 5px;
}

.accordion-div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.accordion-div button {
  border: none;
  text-align: left;
  font-size: 16px;
  padding: 15px 20px;
}

.box {
  border: 2px solid #e7e7e7;
  margin-top: 10px;
}

.box-title {
  border-bottom: 2px solid #e7e7e7;
  background-color: var(--silver);
  padding: 8px 12px;
}

.box-items {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 8px 12px;
}

.box-sub {
  margin-top: 35px;
  background-color: #333;
  color: #fff;
  padding: 20px;
}

.box-sub h5 {
  font-size: 11px;
}

.box-sub h5 span {
  font-size: 28px;
  display: block;
}

.box-sub p {
  margin: 13px 0;
  line-height: 1.5;
}

.box-sub ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.box-sub ul li {
  font-weight: bold;
}

.box-sub button {
  margin: 13px 0;
  padding: 8px 12px;
  color: #fff;
  background-color: #0771fc;
  font-size: 18px;
  border: none;
}

.box-sub button:hover {
  background-color: #0045a0;
  cursor: pointer;
}

.box-hiring {
  padding: 20px;
  border: 2px solid #e7e7e7;
  margin: 30px 0;
}

.box-hiring p {
  margin: 15px 0;
  line-height: 1.5;
}

.box-hiring button {
  margin: 15px 0;
  color: #fff;
  background-color: #4595ff;
  border: none;
  padding: 10px 14px;
  font-size: 16px;
}

.box-hiring button:hover {
  color: #000;
  background-color: aqua;
  cursor: pointer;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 40px;
}

.footer-links {
  display: flex;
  gap: 35px;
}

.footer-links ul li:first-child {
  border-bottom: 1px solid #fff;
  font-weight: bold;
}

.footer-links ul li {
  width: 200px;
  margin: 7px 0;
}

.footer-copyright {
  margin-top: 50px;
}

.footer-copyright p {
  color: #8a8a8a;
  font-size: 10px;
}
